---
---

::selection {
  color: red; 
  background: yellow;
}
::-moz-selection {
  color: red;
  background: yellow;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

/* Content */

body {
  font-family: "Inconsolata", monospace;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  color: rgba({{ site.text-color }});
  background-color: rgb({{ site.background-color }});
  background-repeat: no-repeat;
  background-size: 100%;
}
html, body {
  height: 100%;
}
p, form {
  line-height: 1.4;
  margin: 10px auto;
  word-wrap: break-word;
}
p * {
  line-height: 1em; /* Bold font line-height fix */
}

strong {
  font-weight: 700;
}
i, em {
  font-style: italic;
}
a {
  color: #FF0000;
  text-decoration: none;
  position: relative;
}
.no-cssgradients a {
  text-decoration: underline;
}
ul,
ol {
  margin: 30px auto;
  padding-left: 30px;
}
ul {
  list-style: disc;
}
ol {
  list-style: decimal;
}
li {
  margin: 0.2em 0;
  line-height: 1.4;
}
li * {
  line-height: 1em; /* Bold font line-height fix */
}
img {
  max-width: 100%;
  display: block;
  margin: 30px auto;
}
.img-only {
  margin: 0 -15px;
  background-color: rgba({{ site.text-color }},.05);
}
.img-only-source {
  margin: 0 -15px;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Abril Fatface", "Arial Black" , sans-serif;
  background-image: none;
  text-decoration: none !important;
  word-wrap: break-word;
  word-spacing: 2px;
  letter-spacing: normal;
  color: red;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.5em;
  margin-top: 40px;
  margin-bottom: 0px;
}
h3, h4, h5, h6 {
  font-size: 1.3em;
  margin-top: 40px;
  margin-bottom: 0px;
}
.meta {
  color: rgba({{ site.text-color }}, 0.5);
  display: block;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: .8em;
}
.fluid-width-video-wrapper {
  margin: 30px auto;
}
table {
  border-collapse: collapse;
  margin: 30px auto;
}
td, th {
  padding: .8rem
}
th {
  background-color: rgba({{ site.text-color }}, 0.05);;
}
tr {
  border-bottom: 1px solid  rgba({{ site.text-color }}, 0.05);
}
tr:last-child {
  border: none;
}
thead {
  border-bottom: 2px solid rgba({{ site.theme-color }}, .4);
}
tfoot {
  border-top: 2px solid rgba({{ site.theme-color }}, .4);
}
blockquote {
  padding: 0 20px;
  font-style:normal;
  color: grey;
}
blockquote::before,
blockquote::after {
  font-weight: 400;
  font-size: 60px;
  color: rgba({{ site.theme-color }}, .7);
  display: block;
  text-align: center;
  vertical-align: bottom;
  height: 40px;
  font-style: normal;
}
blockquote::before {
  content: "“";
  margin-top: 30px;
}
blockquote::after {
  content: "”";
  margin-bottom: 30px;
}
code {
  font-family: "Inconsolata", monospace;
}
p code {
  font-size: 1em;
  display: inline-block;
  border-radius: 2px;
  background-color: rgba({{ site.text-color }},.05);
  border: 1px solid rgba({{ site.text-color }},.1);
  padding: 0 3px;
}
pre {
  display: block;
  background-color: rgba(0,0,0,.9);
  overflow-y: hidden;
  overflow-x: auto;
  font-size: 14px;
  padding: 15px;
  border-radius: 4px;
  color: #f8f8f2;
  line-height: 1.4;
  margin: 30px auto;
  white-space: pre-wrap;
}
pre code {
  font-size: 18px;
}
small {
  font-size: .8em;
  color: rgba({{ site.text-color }},.5);
}
small a {
  color: red;
}
hr {
  border:none;
  background-color: rgba({{ site.theme-color }}, .4);
  margin: 60px auto;
  width: 30%;
  height: 2px;
}
.cover-image-container {
  position: absolute;
  z-index: -9999;
  opacity: .7;
  width: 100%;
}
.cover-image-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  {% include gradient.css %}
}

/* Structure */

.wrap {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 700px;
  min-height: 100%;
  margin-bottom: 0px;
}
.wrap::after {
  content: "";
  display: block;
  height: 0px;
}
header {
  padding-top: 30px;
  padding-bottom: 30px;
  position: relative;
  color: rgba({{ site.text-color }},.5);
}
header img {
  height: 32px;
  display: inline-block;
}
nav {
  position: absolute;
  top: 30px;
  right: 0;
}

article {
  margin-top: 30px;
}
article::after {
  margin: 20px 0;
  content: "•••";
  line-height: 0;
  font-size: 24px;
  display: block;
  text-align: center;
  color: rgba({{ site.theme-color }}, .7);
}
article:last-of-type::after {
  content: "";
  margin-top: 80px;
  margin-bottom: 0;
}
a.read-more {
  display: inline-block;
  background-image: none;
  text-decoration: none !important;
  font-weight: 400;
}
input[type="email"],
textarea {
  font: inherit;
  display: block;
  border-radius: 4px;
  margin-bottom: 30px;
  border: 1px solid rgba({{ site.text-color }},.1);
  padding: 8px 15px;
  width: 100%;
  box-sizing: border-box;
}
input[type="submit"] {
  font-family: "Inconsolata", monospace;
  font-size: inherit;
  font-weight: 600;
  color: rgba({{ site.text-color }},.76);
  background-color: rgba({{ site.text-color }},.05);
  border-radius: 4px;
  padding: 8px 15px;
  width: 100%;
  border: 1px solid rgba({{ site.text-color }},.1);
  cursor: pointer;
}
.pagination {
  margin-top: -30px;
  font-family: "Inconsolata", monospace;
  font-weight: 600;
  padding-bottom: 50px;
}
.pagination a {
  background-image: none;
  text-decoration: none !important;
}
.pagination .disabled {
  color: rgba({{ site.text-color }},.1);
}
.pagination .left {
  float: left;
}
.pagination .right {
  float: right;
}
#disqus_thread {
  margin-bottom: 50px;
}
footer {
  font-size: 1.2em;
  color: rgba({{ site.text-color }},1);
  text-align: center;
  background-color: white;
  height: 60px;
}
footer a {
  background-image: none;
  text-decoration: none !important;
  font-weight: 400;
  padding: 20px;
  vertical-align: middle;
}
footer .inner {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 740px;
}


/* Content overwrites */

.website-title {
  background: #fbec2d;
  margin-right: 10px;
  border-radius: 5px;
  font-size: 16px;
  color: #241e1e;
  padding: 6px 14px;
}
nav a {
  background: #fbec2d;
  margin-right: 0px;
  border-radius: 5px;
  font-size: 16px;
  color: #241e1e;
  padding: 6px 14px;
}

}
nav a:hover {
  color: black;
}
nav a.current {
  color: rgba({{ site.text-color }}, .76)
}
.subtitle {
  margin: 30px 0;
  color: rgba({{ site.text-color }},.5);
}
.subtitle a {
  background-image: -webkit-linear-gradient(rgba({{ site.text-color }},.5),rgba({{ site.text-color }},.5));
  background-image: -moz-linear-gradient(rgba({{ site.text-color }},.5),rgba({{ site.text-color }},.5));
  background-image: -o-linear-gradient(rgba({{ site.text-color }},.5),rgba({{ site.text-color }},.5));
  background-image: -ms-linear-gradient(rgba({{ site.text-color }},.5),rgba({{ site.text-color }},.5));
  background-image: linear-gradient(rgba({{ site.text-color }},.5),rgba({{ site.text-color }},.5));
}


/* Structure overwrites */

@media all and (min-width: 376px) {
  .website-title {
    font-size: 16px;
  }
  body {
    font-size: 20px;
  }
}
@media all and (min-width: 500px) {
  .wrap {
    padding: 0 30px;
  }
  footer .inner {
    padding: 0 30px;
  }
  .subtitle,
  .fluid-width-video-wrapper,
  ol,
  ul,
  pre,
  p,
  form {
    margin: 19px 0;
  }
  ol, ul {
    padding-left: 50px;
  }
  li {
    padding-left: 10px;
    margin: 0.2em;
  }
  table {
    margin: 40px auto;
  }
  article::after,
  header::after {
    margin: 40px;
  }
  h1 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  h2 {
    font-size: 1.5em;
    margin-top: 60px;
    margin-bottom: -10px;
  }
  h3, h4, h5, h6 {
    font-size: 1.3em;
    margin-top: 30px;
    margin-bottom: -10px;
  }
  .img-only {
    margin: 0 -30px;
  }
  .img-only-source {
    margin: 0 -30px;
  }
  blockquote {
    padding: 0 30px;
    font-size: 1.3em;
  }
  hr {
    margin: 90px auto;
  }
}
@media all and (min-width: {{ site.nav-breaking-point }}) {
  .website-title {
    text-align: left;
  }
  nav {
    position: absolute;
    right: 0;
    top: 27px;
    margin: 0;
  }
  nav a {
    display: inline-block;
  }
  .website-title {
    margin-bottom: 80px;
  }
}
@media all and (min-width: 760px) {
  h1 {
    font-size: 2em;
  }
  article:last-of-type::after {
    content: "";
    margin-top: 120px;
    margin-bottom: 0;
    font-size: 100px;
  }
}
